/*alg*/
* {
	margin: 0px;
	padding: 0px;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
    overflow-x: initial !important;
    overflow-x: hidden;
    
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
body{	
    -webkit-overflow-scroll: touch;
    
    font-family: acumin-pro, sans-serif;
    font-display: swap;
    }
.welcome{
    height: 100vh;
    width: 100%;
    background-color: #6691AE;
}
.welcome h1{
    color: white;
    
}
.gamepreview{
    border-style: solid;
    width: 200px;
    height: 200px;
    
}