/*alg*/
* {
	margin: 0px;
	padding: 0px;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
    overflow-x: initial !important;
    overflow-x: hidden;
    
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
body{	
    -webkit-overflow-scroll: touch; 
    font-family: acumin-pro, sans-serif;
    font-display: swap;
    background-color: #3C6784;
    color: #f5f4f3;
}

/*HEADER*/
header{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 6rem;
}
header h2{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: -4.5rem;
}
header a{
    font-weight: 500;
    padding: 1rem;
    text-decoration: none;
    color: #f5f4f3;
    background-color: #E6BA52;
    margin-top: 5rem;
}

/*GAMES-PREV*/
#gamesmain{
    display: flex;
}
.gamepreview{
    border-style: solid;
    width: 200px;
    height: 200px;
}
.gamepreview{
    border-style: solid;
    width: 500px;
    height: 500px;
    
}
.previewimg{
    height:100px;
     width:100px;
}

.star-rating {

    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }