body{
    background-color: #3C6784;
    display: flex;
    justify-content: center;
    
}
.content{
    margin-top: 15%;
    background-color: #E6BA52;
    padding:5%;
    font-family:  Arial, sans-serif;
    color: #f5f4f3;;
}
.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
    
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color: #808080;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color: #52A6B0;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #52A6B0;
  }

  .back-main{
    position: absolute;
    left:10px;
    top:5px;
  
  }
  .back-main a{
    color: #faf8ef;
    text-decoration: none;
    font-family: bungee, sans-serif;
  }
  