body{
    background-color: #3C6784;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.text{
    width: 50%;
    background-color: #E6BA52;
    height: 40vh;
    margin-top: 20%;

}
ul{
    list-style: none;
    text-decoration: none;
    color: white;
    
}
li a{
    text-decoration: none;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    margin-left: 25%;
}
.back-main{
    position: absolute;
    left:10px;
    top:5px;
  
  }
  .back-main a{
    color: #faf8ef;
    text-decoration: none;
    font-family: bungee, sans-serif;
  }
  